<section id="events" class="events">
            <div class="container">
                <div class="row">
                    <div class="main_events sections">
                        <div class="head_title text-center">
                            <p>-----------</p>
                            <p>-----------</p>
                            <h2>UPCOMING CONCERTS</h2>
                            <div class="separator"></div>
                            <p><strong>Check out what shows are coming up in the Richmond area!</strong></p>
                        </div>


                        <div class="main_events_content_area">
                            <div class="main_events_content">
                                <div class="col-sm-5 ">
                                    <div class="single_events_content_left">
                                        {{!-- <div class="events_content_left_thumbnail">
                                            <img src="assets/images/events1.jpg" alt="" />
                                        </div> --}}
                                        <div class="events_content_left_content">
                                            <p class="subtitle">Check out a local Concert!
                                            </p>
                                            <div class="separator2"></div>
                                            <p>We at Band Gogh believe the very best way to experience a band is by seeing them live! check out someone new or a band you already know and love!</p>

                                            {{!-- <div class="events_content_left_bottom">
                                                <a class="events_icon" href=""><i class="fa fa-folder"></i>guitar bands</a>
                                                <a href="" class="events_right_icon"><i class="fa fa-folder"></i></a>
                                            </div> --}}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="events_right_content">
                                        <div class="single_events_right_content">
                                            <div class="row">
                                                <div class="col-sm-3 col-xs-3 no-padding">
                                                    <div class="single_left_img">
                                                        <img src="assets/images/broadberry.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 col-xs-7 no-padding">
                                                    <div class="single_right_content">
                                                        <p class="subtitle">Gwar</p>
                                                        <a class="events_icon" href=""><i class="fa fa-folder"></i>Metal</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-2 no-padding">
                                                    <div class="single_icon_area text-center">
                                                        <div class="single_icon_content">
                                                            <i class="fa fa-comments"></i>
                                                            <p href="">12/11</p>
                                                        </div>
                                                        <div class="single_icon_content single_icon_content_calander">
                                                            <i class="fa fa-calendar"></i>
                                                            <p href="">2021</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single_events_right_content">
                                            <div class="row">
                                                <div class="col-sm-3 col-xs-3 no-padding">
                                                    <div class="single_left_img">
                                                        <img src="assets/images/camel.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 col-xs-7 no-padding">
                                                    <div class="single_right_content">
                                                        <p class="subtitle">Pat McGee</p>
                                                        <a class="events_icon" href=""><i class="fa fa-folder"></i>Rock</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-2 no-padding">
                                                    <div class="single_icon_area text-center">
                                                        <div class="single_icon_content">
                                                            <i class="fa fa-comments"></i>
                                                            <p href="">12/19</p>
                                                        </div>
                                                        <div class="single_icon_content single_icon_content_calander">
                                                            <i class="fa fa-calendar"></i>
                                                            <p href="">2021</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single_events_right_content">
                                            <div class="row">
                                                <div class="col-sm-3 col-xs-3 no-padding">
                                                    <div class="single_left_img">
                                                        <img src="assets/images/canal.jpeg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 col-xs-7 no-padding">
                                                    <div class="single_right_content">
                                                        <p class="subtitle">Carbon Leaf</p>
                                                        <a class="events_icon" href=""><i class="fa fa-folder"></i>Rock</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-xs-2 no-padding">
                                                    <div class="single_icon_area text-center">
                                                        <div class="single_icon_content">
                                                            <i class="fa fa-comments"></i>
                                                            <p href="">12/23</p>
                                                        </div>
                                                        <div class="single_icon_content single_icon_content_calander">
                                                            <i class="fa fa-calendar"></i>
                                                            <p href="">2021</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="bottom_btn_area_content text-center">
                            <a href="" class="btn btn-larg btn_events_color">ALL ARTICLES</a> --}}
                        </div>
                    </div>
                </div>
            </div>
        </section>