<section id="events" class="events">
            <div class="container">
                <div class="row">
                    <div class="main_events sections">
                        <div class="head_title text-center">
                            <p>-----------</p>
                            <p>-----------</p>
                            <h2>UPCOMING CONCERTS</h2>
                            <div class="separator"></div>
                            <p><strong>Check out what shows are coming up in the Richmond area!</strong></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>