<section id="home" class="home text-right">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">
                        <div class="single_home">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h1>SIGN UP YOUR BAND!</h1>
                                <h1 class="subtitle">POST YOUR GIG DATE!</h1>

                                <div class="video_play_icon hidden">
                                    <a href="https://www.youtube.com/embed/_l6CQRHIGyg"><i
                                            class="fa fa-play-circle-o"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="single_home">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h1>CHECK OUT SOME SHOWS</h1>
                                <h1 class="subtitle">SEE WHATS GOING ON</h1>

                                <div class="video_play_icon hidden">
                                    <a href="https://www.youtube.com/embed/_l6CQRHIGyg"><i
                                            class="fa fa-play-circle-o"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="single_home">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h1>EXPLORE SOME NEW GENRES</h1>
                                <h1 class="subtitle">EXPAND YOUR PALETTE</h1>

                                <div class="video_play_icon hidden">
                                    <a href="https://www.youtube.com/embed/_l6CQRHIGyg"><i
                                            class="fa fa-play-circle-o"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <form class="login-form">
                    <div>
                        <label for="user-login">username:</label>
                        <input type="text" id="user-login" />
                    </div>
                    <div>
                        <label for="password-login">password:</label>
                        <input type="password" id="password-login" />
                    </div>
                    <div>
                        <button type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/login.js"></script>