{{#if loggedIn}}
<p>-----------</p>
<p>-----------</p>
<p>-----------</p>


  <div id="event-submission" class="text-center">
    <form id="event-submission-form" method="POST" action="">
      <!-- Form contents will go here -->
      <fieldset>
        <p>-----------</p>
        <h3 style="margin-top: 25px; font-weight: 900;">Event Information</h3>
        <div class="separator"></div>
        <label for="event-name" style= "padding: 5px">Event Name</label>
        <input type="text" id="event-name" name="event-name" />
        <br>
        <label for="event-month" style= "padding: 5px">Month</label>
        <input type="text" id="event-month" name="event-month" />
        <br>
        <label for="event-day" style= "padding: 5px">Day</label>
        <input type="text" id="event-day" name="event-day" />
        <br>
        <label for="event-year" style= "padding: 5px">Year</label>
        <input type="text" id="event-year" name="event-year" />
        <br>
        <label for="event-location" style= "padding: 5px">Venue</label>
        <input type="text" id="event-location" name="event-location" />
      </fieldset>
      <button type="submit" style= "padding: 5px">Submit Form</button>
    </form>
  </div>


{{else}}

<p>-----------</p>
<p>-----------</p>
<p>-----------</p>
<p>-----------</p>



<p class="head_title text-center" style="margin-top: 75px; font-weight: 900;">IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN! PLEASE <a href="/signup" class="text-center">LOG IN</a> OR <a href="/signup" class="text-center">SIGN UP</a> TO POST YOUR BANDS EVENT!</p>




{{/if}}

<script src="/javascript/events.js"></script>