{{#if loggedIn}}

<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>
<p>IF YOU CAN READ THIS, YOU ARE LOGGED IN</p>

{{else}}

<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>
<p>IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup">login</a>


{{/if}}