{{#if loggedIn}}
<p>-----------</p>
<p>-----------</p>
<p>-----------</p>


  <div id="event-submission">
    <form id="event-submission-form" method="POST" action="">
      <!-- Form contents will go here -->
      <fieldset>
        <h3>Event Information</h3>
        <label for="event-name">Event Name</label>
        <input type="text" id="event-name" name="event-name" />
        <br>
        <label for="event-month">Month</label>
        <input type="text" id="event-month" name="event-month" />
        <br>
        <label for="event-day">Day</label>
        <input type="text" id="event-day" name="event-day" />
        <br>
        <label for="event-year">Year</label>
        <input type="text" id="event-year" name="event-year" />
        <br>
        <label for="event-location">City</label>
        <input type="text" id="event-location" name="event-location" />
      </fieldset>
      <button type="submit">Submit Form</button>
    </form>
  </div>


{{else}}

<p>-----------</p>
<p>-----------</p>
<p>-----------</p>
<p>-----------</p>



<p class="head_title text-center">IF YOU CAN READ THIS, YOU ARE NOT LOGGED IN</p>
<a href="/signup" class="text-center">login</a>



{{/if}}

<script src="/javascript/events.js"></script>