<section id="service" class="service">
    <div class="container">
        <div class="row">
            <a href="#bands" class="service_border_raund text-center">
                <img src="assets/images/downicon.png" alt="" />
            </a>


            <div class="main_service_area sections text-center">
                <div class="head_title text-center">
                    <h2>ABOUT US</h2>
                    <div class="separator"></div>
                    <p>We might hate ourselves but we love Richmond music.</p>
                </div>

                <form class="signup-form">
                    <div>
                        <label for="bandname-signup">bandname:</label>
                        <input type="text" id="bandname-signup" />
                    </div>
                    <div>
                        <label for="website-signup">website:</label>
                        <input type="text" id="website-signup" />
                    </div>
                    <div>
                        <label for="genre-signup">genre:</label>
                        <input type="text" id="genre-signup" />
                    </div>
                    <div>
                        <label for="username-signup">username:</label>
                        <input type="text" id="username-signup" />
                    </div>
                    <div>
                        <label for="email-signup">email:</label>
                        <input type="text" id="email-signup" />
                    </div>
                    <div>
                        <label for="password-signup">password:</label>
                        <input type="password" id="password-signup" />
                    </div>
                    <div>
                        <button type="submit">signup</button>
                    </div>
                </form>
                <form class="login-form">
                    <div>
                        <label for="user-login">username:</label>
                        <input type="text" id="user-login" />
                    </div>
                    <div>
                        <label for="password-login">password:</label>
                        <input type="password" id="password-login" />
                    </div>
                    <div>
                        <button type="submit">login</button>
                    </div>
                </form>

                <div class="col-sm-4">
                    <div class="single_service">
                        <div class="single_service_icon">
                            <i class="lnr lnr-mic"></i>
                        </div>

                        <h3>FIND LOCAL MUSIC</h3>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_service">
                        <div class="single_service_icon">
                            <i class="lnr lnr-file-add"></i>
                        </div>

                        <h3>CHECK OUT LOCAL EVENTS</h3>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_service">
                        <div class="single_service_icon">
                            <i class="fa fa-sun-o"></i>
                        </div>

                        <h3>DISCOVER NEW GENRES</h3>
                        <div class="separator"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="/javascript/signup.js"></script>
<script src="/javascript/login.js"></script>